@model List<TbNotification>
@{
    Layout = "_Layout";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/data-list-view.css">

}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Data list view starts -->
            <section id="data-list-view" class="data-list-view-header">
                <!-- DataTable starts -->
                <div class="table-responsive">
                    <table class="table data-list-view">
                        <thead>
                            <tr>
                                <th></th>
                                <th>MESSAGE,NAME</th>                           
                                <th>CHANGE ACTIVAITY</th>
                                <th>DELETE MESSAGE</th>                           
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var notfiy in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td class="product-name">@notfiy.msgContent</td>                                                                   
                                    <td class="product-action">
                                        <a asp-controller="Admin" asp-action="ChangeActivity" asp-route-UserId="@notfiy.UserId" class="btn btn-outline-info"><span><i class="feather icon-edit"></i> Change</span></a>
                                    </td>
                                    <td class="product-action">
                                        <a asp-controller="Admin" asp-action="DeleteMessage" asp-route-Id="@notfiy.Id" class="btn btn-outline-danger mr-1 mb-1"><span><i class="feather icon-trash-2"></i> Delete Message</span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- DataTable ends -->
            </section>
            <!-- Data list view end -->
        </div>
    </div>
</div>
<!-- END: Content-->

@section Scripts{
    <script src="~/app-assets/vendors/js/extensions/dropzone.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <script src="~/app-assets/js/scripts/ui/data-list-view.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>   

}




